.vs/
.vscode/

AltPoint.Api/bin/
AltPoint.Application/bin/
AltPoint.Domain/bin/
AltPoint.Infrastructure/bin/

AltPoint.Api/obj/
AltPoint.Application/obj/
AltPoint.Domain/obj/
AltPoint.Infrastructure/obj/
[Bb]in/
[Oo]bj/