**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
.vs/
.vscode/

src/.vs/
src/AltPointClients/AltPoint.Api/bin/
src/AltPointClients/AltPoint.Application/bin/
src/AltPointClients/AltPoint.Domain/bin/
src/AltPointClients/AltPoint.Infrastructure/bin/
src/AltPoint.Api.Consumer/bin/
src/AltPoint.Api.Consumer/obj/
src/AltPoint.Api.Consumer/.vs/
src/AltPointClients/AltPoint.Api/obj/
src/AltPointClients/AltPoint.Application/obj/
src/AltPointClients/AltPoint.Domain/obj/
src/AltPointClients/AltPoint.Infrastructure/obj/
[Bb]in/
[Oo]bj/